<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" >
  <test thread-count="5" name="Test">
  
  
  <parameter name="Url" value="https://www.myntra.com/"/>
  <parameter name="Path" value=".//Screenshots/"/>
   
    <classes>
      <class name="assignment.java.Webpagescreenshot"/>     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
